In [31]:

import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from ydata_profiling import ProfileReport

# Step 1: Load Titanic dataset
if not os.path.exists('titanic_data.csv'):
    df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
    df.to_csv('tips_data.csv', index=False)
else:
    df = pd.read_csv('titanic_data.csv')


# Step 2: Preview raw data
print("Raw Data Preview:")
print(df.head())
print("\nData Types:")
print(df.describe())

# profile = ProfileReport(df, title="Titanic Profiling Report", explorative=True)
# profile.to_file("titanic_profiling_report.html")

Raw Data Preview:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Data Types:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [32]:
# Step 3: Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
# Step 4 : Fill missing Age values with the mean
df['Age'] = df['Age'].fillna(df["Age"].median())
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [34]:
# Step 5 : Drop rows wit h missing Embarked values
df.dropna(subset=['Embarked'], inplace=True)
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   889.000000  889.000000  889.000000  889.000000  889.000000
mean    446.000000    0.382452    2.311586   29.315152    0.524184
std     256.998173    0.486260    0.834700   12.984932    1.103705
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     224.000000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.000000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  889.000000  889.000000
mean     0.382452   32.096681
std      0.806761   49.697504
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [35]:
# Step 6: Drop duplicate rows
df.drop_duplicates(inplace=True)
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   889.000000  889.000000  889.000000  889.000000  889.000000
mean    446.000000    0.382452    2.311586   29.315152    0.524184
std     256.998173    0.486260    0.834700   12.984932    1.103705
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     224.000000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.000000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  889.000000  889.000000
mean     0.382452   32.096681
std      0.806761   49.697504
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [36]:
# Step 7: Normalize column Fare with [0,1] scale
scaler = MinMaxScaler()
df["Fare_Normalized"] = scaler.fit_transform(df[["Fare"]])
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_Normalized
0      0         A/5 21171   7.2500   NaN        S         0.014151
1      0          PC 17599  71.2833   C85        C         0.139136
2      0  STON/O2. 3101282   7.9250   NaN        S         0.015469
3      0            113803  53.1000  C123        S         0.103644
4      0            373450   8.0500   NaN        S         0.015713

In [37]:
# Step 8: Standardize column Age to mean=0, std=1
standardizer = StandardScaler()
df["Age_Standardize"] = standardizer.fit_transform(df[["Age"]])
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_Normalized  \
0      0         A/5 21171   7.2500   NaN        S         0.014151
1      0          PC 17599  71.2833   C85        C         0.139136
2      0  STON/O2. 3101282   7.9250   NaN        S         0.015469
3      0            113803  53.1000  C123        S         0.103644
4      0            373450   8.0500   NaN        S         0.015713

   Age_Standardize
0        -0.563674
1         0.669217
2        -0.255451
3         0.438050
4         0.438050

In [38]:
# Step 9: Print cleaned data
print("\nCleaned Data:", df.shape)
print(df.head())

Cleaned Data: (889, 14)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_Normalized  \
0      0         A/5 21171   7.2500   NaN        S         0.014151
1      0          PC 17599  71.2833   C85        C         0.139136
2      0  STON/O2. 3101282   7.9250   NaN        S         0.015469
3      0            113803  53.1000  C123        S         0.103644
4      0            373450   8.0500   NaN        S         0.015713

   Age_Standardize
0        -0.563674
1         0.669217
2        -0.255451
3         0.438050
4         0.438050

In [39]:
# Step 10: save cleaned data
df.to_csv('titanic_cleaned.csv', index=False)